/MODSIM_GSFLOW/bin/Debug
/MODSIM_GSFLOW_DLL/bin
/documentation/site
/MODSIM_GSFLOW/obj
/MODSIM_GSFLOW_DLL/packages
/MODSIM_GSFLOW_DLL/.vs/
/.vs
/MODSIM_GSFLOW_Run/bin
/MODSIM_GSFLOW_Run/obj
/*.user
/MODSIM_GSFLOW_Run.csproj.user
/MODSIM_GSFLOW_DLL/obj
/MODSIM_GSFLOW_DLL/packages
/MODSIM_GSFLOW_DLL/.vs/MODSIM_GSFLOW_DLLustomCode/v16
/MODSIM_GSFLOW_DLL/bin/x64/Debug
